@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-300-normal.woff2') format('woff2'), url('../fonts/gilroy-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-800-normal.woff2') format('woff2'), url('../fonts/gilroy-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-v16-latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/open-sans-v16-latin_cyrillic-300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v16-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v16-latin_cyrillic-regular.woff') format('woff');
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;

  background-color: #fff;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Title */
.title {
  color: #000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}
.title--sm {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
}
/* Button */
.btn {
  display: inline-block;
  position: relative;
  padding: 14px 25px;
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  z-index: 1;
}
.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-50%) scaleY(0.2);
  background-color: #f0c52e;
  transition: 0.5s all;
  z-index: -1;
}
.btn:hover::before,
.btn:focus::before {
  transform: translateY(-50%) scaleY(1);
}
.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Search form */
.form-search__input {
  opacity: 0.3;
  color: #000000;
  border: none;
  background-color: transparent;
}
.form-search__input:hover {
  opacity: 0.6;
}
.form-search__input:focus {
  opacity: 1;
  outline: none;
  border-bottom: 2px solid #000;
}
.form-search__input:focus + .form-search__btn {
  opacity: 1;
  pointer-events: auto;
}
.form-search__btn {
  opacity: 0;
  padding: 6px 18px;
  border: 2px solid #000000;
  background-color: transparent;
  font: inherit;
  pointer-events: none;
}
.form-search__btn:hover,
.form-search__btn:focus {
  outline: none;
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;
}
.form-search__btn:active {
  outline: none;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

/* Header */
.header-link
 {
  color: #000000;
}
.header-link:hover,
.header-link:focus{
  opacity: 0.6;
}
.header-link:active{
  opacity: 0.3;
}
.navigation__logout-link {
  opacity: 0.3;
}
.catalog-list__link--main,
.navigation__secondary-link {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.catalog-list__inner {
  background-color: #ffffff;
}
.catalog-list__list {
  background-color: rgba(240, 197, 46, 0.5);
}
.navigation__user,
.navigation__shop,
.navigation__secondary,
.catalog-list__list {
  list-style: none;
}

/* Promo */
.promo-slider__number {
  color: #ffffff;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
  letter-spacing: 0.36px;
}
.promo-slider__header {
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.17px;
}

.slider-table__cell {
  color: #000000;
  font-family: 'Gilroy', "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}
.slider-table__cell--sm {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.info__list{
  list-style: none;
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}
.info__item{
  position: relative;
}
.info__item:before {
  content: '';
  position: absolute;
  left: -35px;
  top: 50%;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

}
/* Footer */
.footer {
  background-color: #464646;
  color: #ffffff;
}
.footer-link {
  color: #ffffff;
}
.footer-link:hover,
.footer-link:focus {
  opacity: 0.6;
}
.footer-link:active {
  opacity: 0.3;
}

.footer-link--light
{
  opacity: 0.7;
  color: #ffffff;
}

.footer-link--light:hover,
.footer-link--light:focus {
  opacity: 1;
}
.footer-link--light:active {
  opacity: 0.3;
}
.footer-navigation__logout-link {
  opacity: 0.3;
}
.footer-navigation__secondary-link {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.footer-navigation__user,
.footer-navigation__shop,
.footer-navigation__secondary,
.footer__social {
  list-style: none;
}
/* contact-form popup */
.contact-form {
  display: none;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}
.contact-form__label {
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
/* popup-map */
.popup-map {
  display: none;
}

/* Catalog */

/* breadcrumb */
.breadcrumb {
  list-style: none;
}
.breadcrumb__link {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}
.breadcrumb__link:hover,
.breadcrumb__link:focus {
  opacity: 0.6;
}
.breadcrumb__link:active {
  opacity: 0.1;
}

/* filter-form */
.filter__title {
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.filter-form__title {
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.filter-form__list {
  list-style: none;
}
.filter-form__label {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  /* Text style for "Черный" */
  letter-spacing: 0.14px;
}
.filter-form__label--blocked {
  color: #a6a6a6;
}
/* catalog list */
.catalog-item__img {
  background-color: #eeeeee;
}
.catalog-item__link {
  color: #000000;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.catalog-item__price {
  color: #464646;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}
.catalog-item__compare {
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.catalog-item__compare:hover,
.catalog-item__compare:focus {
  opacity: 1;
}
.catalog-item__compare:active {
  opacity: 0.2;
}

/* Сеточные стили */
/* header */
.header {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}
.header__wrap {
  min-height: 300px;
  padding: 0 60px;
  background-color: rgba(240, 197, 46, 0.5);
}
.header__wrap {
  min-height: 180px;
}
.header__logo {
  display: inline-block;
  margin-top: -19px;
  margin-bottom: 10px;
}
.navigation__row {
  display: flex;
}
.form-search {
  width: 500px;
  height: 50px;
  margin-right: 60px;
}
.form-search__input {
  box-sizing: border-box;
  width: 356px;
  margin-right: -4px;
  padding-left: 40px;
  padding-bottom: 12px;
}
.navigation__user {
  padding: 0;
}
.navigation__shop {
  display: flex;
  padding: 0;
  margin-left: auto;
}
.navigation__shop-item:last-child {
  margin-left: 35px;
}
.navigation__user {
  display: flex;
  padding: 0;
}
.navigation__user-item {
  margin-right: 15px;
}
.navigation__secondary {
  display: flex;
  width: 100%;
  padding: 0;
  padding-top: 5px;
}
.navigation__secondary-item {
  margin-right: 35px;
}
.navigation__secondary-item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.catalog-list {
  width: 250px;
  margin-right: 310px;
}
.catalog-list__list {
  display: none;
}

/* footer */
.footer__wrap {
  width: 1200px;
  padding: 65px 20px;
  margin: 0 auto;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}
.footer__row:first-child {
  margin-bottom: 30px;
}
.footer__row:nth-child(2) {
  justify-content: flex-start;
}
.footer__row:last-child {
  justify-content: flex-end;
  margin-top: 60px;
}
.footer-navigation__user {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.footer-navigation__user-item {
  padding-left: 20px;
  margin-left: 40px;
}
.footer-navigation__shop {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.footer-navigation__shop-item {
  padding-left: 20px;
  margin-left: 50px;
}
.footer__user-nav {
  display: flex;
  justify-content: space-between;
}
.footer__address {
  margin: 0;
  margin-right: 155px;
}
.footer__tel {
  margin-left: auto;
}
.footer-navigation__secondary {
  display: flex;
  padding: 0;
  margin: 0;
}
.footer-navigation__secondary-item {
  margin: 0 20px;
}
.footer__social {
  display: flex;
  margin-right: 470px;
}


/* about */
.about-wrap {
  display: flex;
  width: 1200px;
  margin: 0 auto; 
}
.info {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}
.contact {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}
.title {
  margin-bottom: 45px;
}
.info__paragraph {
  margin-top: 0;
  margin-bottom: 40px;
}
.info__list {
  padding-left: 35px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.contact__text {
  margin-top: 0;
  margin-bottom: 40px;
}
.contact__map {
  margin-bottom: 60px;
}
/* catalog */
.main-header {
  width: 1200px;
  padding: 0 80px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-header__title {
  margin-bottom: 25px;
}
.breadcrumb {
  display: flex;
  padding-left: 0;
  margin-bottom: 50px;
}
.breadcrumb__item {
  margin-right: 40px;
}
.content {
  background: linear-gradient(90deg, #efefef 50%, #ffffff 50%);
  overflow-x: hidden;
}
.content__wrap {
  display: flex;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.filter {
  width: 330px;
  padding-right: 70px;
  padding-left: 60px;
  background-color: #efefef;
  box-sizing: border-box;
}
.filter__title {
  display: block;
  background-color: #dcdcdc;
  padding: 18px;
  padding-right: 70px;
  padding-left: 1000px;
  margin: 0;
  margin-right: -70px;
  margin-left: -1000px;
}
.catalog {
  width: 830px;
  box-sizing: border-box;
}
.catalog__wrap {
  width: 850px;
}
.sort {
  display: flex;
  padding-left: 70px;
  padding-right: 1000px;
  margin-right: -1000px;
  background-color: #ebebeb;
}
.sort__title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.sort__list {
  display: flex;
  list-style: none;
}
.sort__order {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  list-style: none;
}
.catalog-item {
  width: 360px;
  margin-bottom: 50px;
}
.catalog-item:nth-child(2n+1) {
  margin-right: 40px;
}
.catalog-item__basket {
  display: none;
}
.catalog-item__compare {
  display: none;
}
.catalog-item__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.catalog-item__title {
  margin: 0;
}
.pagination {
  padding-left: 70px;
  padding-bottom: 70px;
  background-color: #fff;
}
.pagination__list {
  display: flex;
  justify-content: center;
  padding: 25px 30px;
  margin: 0;
  background-color: #ebebeb;
  list-style: none;
}
.pagination__prev {
  margin-right: auto;
}
.pagination__next {
  margin-left: auto;
}